img {
	width: 100%;
  	display: block;
  	position: relative;
  	opacity: 0.65;
}

span {
	color: white;
	font-size: 110px;
}
h2 {
	position: absolute;
	top: 300px;
	left: 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: 'Lora';
}

p {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
	font-size: 20px;
	font-family: 'Open Sans';
	line-height: 25px;
}

h3 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Lora';
	font-weight: bold;
}
h4 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-family: 'Open Sans';
}


